.tabb{
  background-color: #fff;
  padding: 20px;
}
.dis-flex{
  display: flex;
}
.align-item-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}
.mt-1{
  margin-top: 10px;
}
.mt-2{
  margin-top: 20px;
}
.ml-1{
  margin-left: 10px;
}
.mr-1{
  margin-right: 10px;
}
.mb-1{
  margin-bottom: 10px;
}
.text-center{
  text-align: center;
}
